.formContainer {
    background: #f0f0f0; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    width: 100%;
    max-width: 400px; 
    margin: auto;
    margin-top: 50px;
  }
  
  .formHeader {
    background: #ffc107; 
    color: #333; 
    padding: 10px; 
    border-radius: 8px ; 
    text-align: center; 
  }
  
  
  
  .inputGroup {
    margin: 25px 0px; 
  }
  
  input,
  textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 5px; 
  }
  
  button {
    background: #007bff;
    color: white; 
    padding: 10px 15px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  .buttonGroup {
    text-align: center; 
  }
  